html {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: #fff;
  background-image: url('../img/coffee.jpg');
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: rgba(243, 243, 243, 0.7);
  text-align: center;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

input {
  border-bottom: 2px solid #fff;
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 67px;
  margin-right: 0.33rem;
  background-color: #7e5a61;
  letter-spacing: 0.3px;
  color: #fff;
  transition: 0.25s;
}

.button.inactive,
.button.inactive:hover,
.button.inactive,
.button.inactive:hover {
  cursor: default !important;
  background-color: grey !important;
  color: #f5f1ee !important;
  opacity: 0.8 !important;
}

.delete.button {
  background-color: #f35858 !important;
  color: #f5f1ee !important;
}

.delete.button:hover {
  background-color: #ca0505 !important;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App header {
  padding: 1rem 0;
  font-size: 1.5rem;
  border-bottom: solid 1px #fff;
  background-color: #7e5a61;
}

.App footer {
  padding: 1rem 0;
  background-color: #7e5a61;
  border-top: solid 1px #fff;
  margin-top: auto;
}

.Landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 5%;
}

.Landing h2 {
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: #7e5a61;
}

.Landing .item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 2rem;
}

.Landing .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  min-height: 180px;
  padding: 1rem;
  outline: 2px solid #fff;
  outline-offset: -4px;
  margin: 0 0.5rem 1rem;
  word-break: break-word;
  font-size: 1.125rem;
  transition: 0.25s;
}

.Landing .item:hover {
  opacity: 0.8;
}

.Landing .menu .item {
  background-color: #a78881;
}

.Landing .employee .item {
  background-color: #c6a17e;
}

.Landing .item h3 {
  display: inline-block;
}

.Landing .menu .item h3 {
  margin-bottom: 1rem;
}

.Landing .button {
  padding: 0.5rem 1.5rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  border-radius: 67px;
  background-color: #7e5a61;
  transition: 0.25s;
}

.Landing .button:hover {
  background-color: #ad9696;
}

.Menu {
  flex-direction: column;
  align-items: center;
  padding: 4rem 5%;
}

.Menu .button:last-child {
  margin-right: 0;
}

.Menu .button:hover {
  background-color: #ab888e;
}

.Menu .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.2rem;
  margin-bottom: 2rem;
  color: #2f2f2f;
}

.Menu .title input {
  width: 80%;
  max-width: 500px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  letter-spacing: 2.5px;
  font-weight: 800;
  text-align: center;
  cursor: pointer;
  color: #7e5a61;
}

.Menu .menu-item-container {
  display: flex;
  flex-direction: column;
  border: solid 2px #7e5a61;
  color: #2f2f2f;
  line-height: 1.71;
  letter-spacing: 0.2px;
}

.Menu .menu-item-container .row {
  display: flex;
}

.Menu .menu-item-container .header.row {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.3px;
}

.Menu .menu-item-container .row:nth-child(odd) {
  background-color: #a78881;
}

.Menu .menu-item-container .row:nth-child(even) {
  background-color: #c6a17e;
}

.Menu .row * {
  color: #ffffff;
  overflow: hidden;
}

.Menu .row .item {
  display: flex;
  flex: 1 1 200px;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  border-right: solid 2px #7e5a61;
}

.Menu .row .item input,
.Menu .row .item textarea {
  background-color: transparent;
  border-bottom: 2px solid #fff;
  font-size: 1rem;
  text-align: center;
  min-width: 80px;
  max-width: 80%;
  cursor: pointer;
}

.Menu .row .item:last-child {
  border-right: 0;
}

.Menu .row:nth-child(odd) .button {
  background-color: #c6a17e;
  color: #f5f1ee;
}

.Menu .row:nth-child(even) .button {
  background-color: #f5f1ee;
  color: #c6a17e;
}

.Menu .row:nth-child(even) .button:hover {
  background-color: #906033;
}

.Menu .row:nth-child(odd) .button:hover {
  background-color: #f7f2cf;
  color: #7e5a61;
}

.Menu .add.button {
  margin-top: 2rem;
}

.Employee {
  padding: 4rem 5%;
  line-height: 1.33;
  letter-spacing: 0.3px;
  font-weight: 300;
  font-size: 1.125rem;
}

.Employee h2 {
  font-weight: bold;
  margin: 1.5rem auto;
  color: #7e5a61;
}

.Employee .strong,
.Employee .strong input {
  font-weight: 600;
}

.Employee p {
  margin-bottom: 0.5rem;
}

.Employee input {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 300;
  cursor: pointer;
}

.Employee .button {
  margin-top: 1rem;
}

.Employee .employee {
  padding: 1rem;
  text-align: left;
  background-color: #a78881;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  outline: 2px solid #fff;
  outline-offset: -4px;
}
.Employee .employee input {
  min-width: 160px;
  max-width: 80%;
}

.Employee .timesheet-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Employee .timesheet {
  width: 250px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #a78881;
  outline: 2px solid #fff;
  outline-offset: -4px;
}

.Employee .timesheet input {
  width: 60px;
}
